{% extends 'core/base.html' %}
{% block title %}About Me{% endblock %}
{% block content %}

<h2>About Me</h2>
<p class="mt-3">
    I am a passionate Django/Python developer who builds modern web applications.
</p>

<section id="education" class="section">
  <h2>Education</h2>

  <div class="timeline">
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <span class="timeline-date">2021 – 2024</span>
        <h3>Bachelor in Computer Science</h3>
        <h4>XYZ University</h4>
        <p>
          Focused on Linux systems, networking, IT infrastructure, and Python
          development.
        </p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <span class="timeline-date">2018 – 2021</span>
        <h3>Technical Diploma in IT</h3>
        <h4>ABC Technical School</h4>
        <p>
          Studied computer networks, system administration, and basic
          programming concepts.
        </p>
      </div>
    </div>
  </div>
  <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <span class="timeline-date">2018 – 2021</span>
        <h3>Technical Diploma in IT</h3>
        <h4>ABC Technical School</h4>
        <p>
          Studied computer networks, system administration, and basic
          programming concepts.
        </p>
      </div>
    </div>
  </div>
 
    
</section>


{% endblock %}
