{% extends 'core/base.html' %}
{% block title %}About Me{% endblock %}
{% block content %}

<h2>About Me</h2>
<p class="mt-3">
    Passionate DevOps Engineer with hands-on experience in Linux system administration, networking, and IT infrastructure. 
    Skilled in building secure, scalable, and reliable systems. 
</p>

<section id="education" class="section">
  <h2>Education</h2>

  <div class="timeline">
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <span class="timeline-date">2021 – 2025</span>
        <h3>Master in Informatik</h3>
        <h4> Universität Bremen </h4>
        <p>
          Schwerpunkte: Cloud Computing, DevOps, Systemen Sicherheit, Rechnernetze, Algorithmus (Optimierung:
          Scheduling von Ressourcen)
        </p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-content">
        <span class="timeline-date">2014 – 2018</span>
        <h3>Bachelor in Informatik</h3>
        <h4>Nationale Polytechnische Universität Odessa</h4>
        <p>
          Schwerpunkt: Softwareentwicklung, Datenbanken, Netzwerke und
          Systemadministration.
        </p>
      </div>
    </div>
  </div>
 
 
    
</section>


{% endblock %}
