{% extends 'core/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

{% load static %}

<div class="text-center">
    <h1 class="display-4 fw-bold">Welcome to My World</h1>

    <p class="lead"> |Devops Engineer | Linux System Administrator | Networking and IT-Infrastructure | Python Developer</p>
    <a href="/projects/" target="_blank"  class="btn btn-primary btn-lg mt-3">View My Work</a>
</div>

<section class="container d-flex align-items-center justify-content-center py-5">
    <div class="hero shadow row align-items-center w-100">

        <!-- LEFT: Image -->
        <div class="col-md-5 text-center fade-left mb-4 mb-md-0">
            <img src="{% static 'images/foto.jpg' %}"
                 class="img-fluid rounded-circle shadow"
                 style="max-width: 280px;"
                 alt="Profile Picture">
        </div>

        <!-- RIGHT: Text -->
        <div class="col-md-7 fade-right">
            <h1 class="fw-bold">
                Hi, I'm <span class="text-primary">Vanissa Noel Djiofack Temgoua</span>
            </h1>

           <h4 class="text-muted mt-3">
                    DevOps Engineer | Linux System Administrator | Networking & IT Infrastructure | Python Developer
                </h4>

                <p class="mt-4">
                    DevOps Engineer with strong hands-on experience in Linux system administration, networking, and IT infrastructure,
                    focused on building secure, scalable, and reliable systems. Experienced in infrastructure automation, CI/CD pipelines,
                    containerization, and system monitoring, with a solid understanding of networking fundamentals and server management.
                    Passionate about improving system reliability, automating operational workflows, and applying DevOps best practices
                    to support efficient and resilient production environments.
                </p>

            <!-- Social Icons -->
            <div class="social-icons mt-4">
                <a href="https://github.com/yourusername" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://linkedin.com/in/yourusername" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>

            <!-- Buttons -->
            <div class="mt-4">
                <a href="{% static 'cv/cv.pdf' %}" class="btn btn-primary me-2" download>
                    <i class="fa fa-download"></i> Download CV
                </a>

                <a href="/contact/" class="btn btn-outline-secondary">
                    Contact Me
                </a>
            </div>
        </div>

    </div>
</section>


{% endblock %}

