{% extends 'core/base.html' %}
{% block title %}Projects{% endblock %}
{% block content %}

<h2 class="mb-4">My Projects</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5 class="card-title">Docker</h5>
                <p class="card-text">Docker and Docker Compose Projects.</p>
                <a href="https://github.com/bcho77/Devops_projects/tree/main/Docker%26Docker_Compose/Docker_%26_Docker_compose_p" target="_blank" class="btn btn-dark">View</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5 class="card-title">Cloud Computing: AWS and Terraform</h5>
                <p class="card-text">AWS and Terraform projects.</p>
                <a href="https://github.com/bcho77/Devops_projects/tree/main/Terraform%26Aws/Terraform_Projects" target="_blank" class="btn btn-dark">View</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5 class="card-title">DEVOPS CULTURE</h5>
                <p class="card-text">Devops projects</p>
                <a href="https://github.com/bcho77/Devops_projects/tree/main/CI/CD_Complet_Projects" target="_blank" class="btn btn-dark">View</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5 class="card-title">Networking & Linux</h5>
                <p class="card-text">Scripting Projects Including Ansible, Shell and Python scripting.</p>
                <a href="https://github.com/bcho77/Devops_projects/tree/main/Lunix%26Networking_for_devops/Linux_Network_Projects" target="_blank" class="btn btn-dark">View</a>
            </div>
        </div>
    </div>

        <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5 class="card-title">Kubernetes</h5>
                <p class="card-text">Here we use Kubernetes helm to deploy applications.</p>
                <a href="https://github.com/bcho77/Devops_projects/tree/main/Kubernetes_Helm/Kubernetes_projects" target="_blank" class="btn btn-dark">View</a>
            </div>
        </div>
    </div>

        <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5 class="card-title">Ansible</h5>
                <p class="card-text">Ansible Projects.</p>
                <a href="https://github.com/bcho77/Devops_projects/tree/main/Ansible/Ansible_project" target="_blank" class="btn btn-dark">View</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5 class="card-title">Tutorials</h5>
                <p class="card-text">Click here to view some helpfull tutorials.</p>
                <a href="/tutorial/" target="_blank" class="btn btn-dark">View</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}
