{% extends 'core/base.html' %}
{% block title %}Projects{% endblock %}
{% block content %}

<h2 class="mb-4">My Projects</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5 class="card-title">Project 1</h5>
                <p class="card-text">Short description about the project.</p>
                <a href="#" class="btn btn-dark">View</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5 class="card-title">Project 2</h5>
                <p class="card-text">Short description about the project.</p>
                <a href="#" class="btn btn-dark">View</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5 class="card-title">Project 3</h5>
                <p class="card-text">Short description about the project.</p>
                <a href="#" class="btn btn-dark">View</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
