{% extends 'core/base.html' %}
{% block title %}Tutorials{% endblock %}
{% block content %}

<h2 class="mb-4">Tutorials</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5 class="card-title">Docker</h5>
                <p class="card-text">Docker and Docker Compose Tutorials.</p>
                <a href="https://github.com/bcho77/Devops_projects/blob/main/Docker%26Docker_Compose/cheatsheet.md" target="_blank" class="btn btn-dark">View</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5 class="card-title">Cloud Computing: AWS and Terraform</h5>
                <p class="card-text">AWS and Terraform Tutorials.</p>
                <a href="https://github.com/bcho77/Devops_projects/tree/main/Terraform%26Aws" target="_blank" class="btn btn-dark">View</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5 class="card-title">DEVOPS CULTURE</h5>
                <p class="card-text">Devops projects</p>
                <a href="https://github.com/bcho77/Devops_projects/tree/main" target="_blank" class="btn btn-dark">View</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5 class="card-title"> Linux & Networking</h5>
                <p class="card-text">Scripting, Networking and Tutorials.</p>
                <a href="https://github.com/bcho77/Linux/tree/main/Linux_fondamental%26commandLine" target="_blank"class="btn btn-dark">View</a>
            </div>
        </div>
    </div>

        <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5 class="card-title">Kubernetes</h5>
                <p class="card-text"> Kubernetes Tutorials.</p>
                <a href="https://github.com/bcho77/Devops_projects/tree/main/Kubernetes_Helm" target="_blank" class="btn btn-dark">View</a>
            </div>
        </div>
    </div>
        <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5 class="card-title">Ansible</h5>
                <p class="card-text">Ansible Tutorials.</p>
                <a href="https://github.com/bcho77/Devops_projects/tree/main/Ansible" target="_blank" rel="noopener noreferrer" class="btn btn-dark">View</a>
            </div>
        </div>
</div>
<div class="row">
        <div class="col-md-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h5 class="card-title">Git</h5>
                <p class="card-text">Git Tutorials.</p>
                <a href="https://github.com/bcho77/Devops_projects/blob/main/Version_control/cheatsheet.md" target="_blank" class="btn btn-dark">View</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
