{% extends 'core/base.html' %}
{% block title %}Docker{% endblock %}
{% block content %}

<h2>About Me</h2>
<p class="mt-3">
    Welcome to Docker Tutorials: 
</p>
<pre><code class="language-python">
def greet(name):
    print(f"Hello, {name}!")
</code></pre>

 <header>
        <h1>🐳 Docker Basics Tutorial</h1>
        <p>Learn Docker commands step by step</p>
    </header>

    <section class="step">
        <h2>1. Check Docker version</h2>
        <p>This command verifies that Docker is installed.</p>

        <pre><code class="docker">
docker --version
        </code></pre>
    </section>

    <section class="step">
        <h2>2. Run your first container</h2>
        <p>Run a simple hello-world container.</p>

        <pre><code class="docker">
docker run hello-world
        </code></pre>
    </section>
{% endblock %}